body {
    font-family: 'PT Mono', monospace;
    background-color: rgb(255, 231, 188);
}

.container {
    width: 1200px;
}

.timer-output {
    width: 200px;
    background: #222;
    color: darkred;
    padding: 16px 8px;
    font-size: 64px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}

.row {
    margin: 5px;
    width: 850px;
}

.timerField {
    color: rgb(255, 0, 0);
    border-radius: 50%;
    border: 15px white;
}

#countdown {
    font-size: 30px;
    font-weight: 800;
    color: red;
    margin-top: 10px;
}

#gameStatusField {
    display: block;
    text-align: center;
    width: 270px;
}

.timer_label {
    color: red;
    margin-right: 20px;
}


/*
#button_ownTime {
    width: 245px;
}

#button_ownTime:checked {
    background-color: lawngreen;
}
*/

#button_ownTime {
    width: 245px;
}

#ownTime:checked~#button_ownTime {
    background: #e22a2a;
}

#ownTime {
    display: none;
}